@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
	font-family: 'Roboto', sans-serif;
	background: url(../img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}

.svg-burger-icon {
	width: 2.9%;
	height: 0%;
	align-self: center;
	cursor: pointer;
}



ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Layout */
.ba-container {
	max-width: 751px;

}

.ba-header {
	padding-top: 68px;
	padding-bottom: 61px;
	padding-left: 3px;
}


.ba-header-bar,
.ba-navigation {
	display: flex;
	justify-content: space-between;
}

.ba-navigation {
	list-style: none;
	max-width: 358px;
	margin: 0;
	padding: 0;
}


.ba-navigation li {
	padding-right: 47.5px;
	margin-top: 2px;


}

.ba-navigation a {
	cursor: pointer;
	font-size: 12.14px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-weight: 200;
}

.ba-navigation li:hover a {
	border-bottom: 1px solid #fff;
}

.ba-product-section {
	width: 100%;
	display: flex;
	box-shadow: 46px 0 0 -20px rgba(255, 249, 249, 0.4), -46px 0 0 -20px rgba(255, 248, 248, 0.4), 23px 0 0 -10px rgba(255, 246, 246, 0.4), -23px 0 0 -10px rgba(255, 242, 242, 0.4);
}


.ba-product-section>*:nth-child(1) {
	background: #f4f4f4;
}

.ba-product-section>*:nth-child(2) {
	background: #fff;
}

.ba-product-section>[class*="ba-col-"] {
	padding-left: 30px;
}

.ba-product-picture-gallery {
	display: flex;
	justify-content: center;
	margin-bottom: 17px;
	margin-top: 27px
}

.ba-product-picture-gallery li {
	padding-right: 17px;
}

.ba-product-picture-gallery li:hover {
	opacity: 0.4;
}

img.product-image {
	padding-top: 37px;
	padding-left: 14px;
	z-index: 2;
	position: relative;
}

.ba-product-picture {
	position: relative;
}

img.huarachi {
	z-index: 1;
	position: absolute;
	top: 21%;
	left: 3%;
}

.ba-product-type {
	display: flex;
	margin-bottom: 13px;
}


.ba-product-type__name {
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: black;
	font-weight: bold;
}

.ba-product-type__rating {
	align-self: center;
	padding-left: 17px;
}

.ba-product-overview {
	display: flex;
	flex-direction: column;
	margin-top: 59px;
	padding-left: 1px;
}

.title {
	font-size: 24px;
}


.ba-product-overview__title {

	color: #000000;
	font-size: 21px;
	line-height: 1.4;
	margin-bottom: 11px;
}

.ba-product-overview__title--color {
	color: #5e4fff;
}

.ba-product-overview__title--new {
	position: relative;
}

.ba-product-overview__title--new:before {
	display: inline-block;
	position: absolute;
	/*content: attr(NEW);*/
	content: "NEW";
	top: -32px;
	left: 1px;
	color: #fff;
	background: #FCA505;
	padding: 4px 6px;
	font-size: 14px;
}

.ba-product-overview__price {
	font-size: 22px;
	color: #000000;
	margin-bottom: 22px;

}

.ba-product-overview__price--currency:before {
	content: "$";
	padding-right: 2px;
}

input[type=radio] {
	display: none;
}

label {
	color: #000;
	cursor: pointer;
	min-width: 24px;
	text-align: center;
	font-size: 14.57px;
	padding: 2px 0px;
	border: 1px solid transparent
}

input[type=radio]:not(:last-child) {
	padding-right: 5px;
}

input[type=radio]:checked+label {
	border: 1px solid black;
}

.ba-product-overview-size_title {
	font-size: 12px;
	/* Approximation due to font substitution */
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
}

.ba-product-overview-size_title::first-letter {
	text-transform: uppercase;
}

.ba-product-overview-size_options {
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
	margin-bottom: 36px;
}

.ba-product-overview__buttons {
	font-size: 12px;
	padding: 7px 0px;
	text-transform: uppercase;
	background: #fff;
	border: 1px solid #000;
	text-align: center;
	width: 53%;
}

.ba-product-overview__buttons+.ba-product-overview__buttons {
	margin-top: 4px;
}

.ba-product-overview__buttons:hover {
	background-color: #a200b8;
	color: #fff;
	border: 1px solid transparent;

}



.ba-col-1 {
	width: 8.333%;
}

.ba-col-2 {
	width: 16.667%;
}

.ba-col-3 {
	width: 25%;
}

.ba-col-4 {
	width: 33.334%;
}

.ba-col-5 {
	width: 41.667%;
}

.ba-col-6 {
	width: 50%;
}

.ba-col-7 {
	width: 58.33%;
}

.ba-col-8 {
	width: 66.667%;
}

.ba-col-9 {
	width: 75%;
}

.ba-col-10 {
	width: 83.334%;
}

.ba-col-11 {
	width: 91.667%;
}

.ba-col-12 {
	width: 100%;
}